<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-munch="{{munch}}">
		{{#if devoured}}Order Again?{{else}}Let's Eat{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Remove</button>
</li>
